<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.systempreferences</string>
		<key>Name</key>
		<string>System Settings</string>
		<key>NewFile</key>
		<string>/System/Applications/System Settings.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.runningwithcrayons.Alfred-Preferences</string>
		<key>Name</key>
		<string>Alfred Preferences</string>
		<key>NewFile</key>
		<string>/Applications/Alfred 5.app/Contents/Preferences/Alfred Preferences.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ActivityMonitor</string>
		<key>Name</key>
		<string>Activity Monitor</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Activity Monitor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.AccessibilityInspector</string>
		<key>Name</key>
		<string>Accessibility Inspector</string>
		<key>NewFile</key>
		<string>/Applications/Xcode.app/Contents/Applications/Accessibility Inspector.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.finder</string>
		<key>Name</key>
		<string>Finder</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Finder.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.spotify.client</string>
		<key>Name</key>
		<string>Spotify</string>
		<key>NewFile</key>
		<string>/Applications/Spotify.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.tinyspeck.slackmacgap</string>
		<key>Name</key>
		<string>Slack</string>
		<key>NewFile</key>
		<string>/Applications/Slack.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.Chrome</string>
		<key>Name</key>
		<string>Google Chrome</string>
		<key>NewFile</key>
		<string>/Applications/Google Chrome.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.mozilla.firefoxdeveloperedition</string>
		<key>Name</key>
		<string>Firefox Developer Edition</string>
		<key>NewFile</key>
		<string>/Applications/Firefox Developer Edition.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.Xcode</string>
		<key>Name</key>
		<string>Xcode</string>
		<key>NewFile</key>
		<string>/Applications/Xcode.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.VSCode</string>
		<key>Name</key>
		<string>Visual Studio Code</string>
		<key>NewFile</key>
		<string>/Applications/Visual Studio Code.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>Name</key>
		<string>Keyboard Maestro</string>
		<key>NewFile</key>
		<string>/Applications/Keyboard Maestro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iphonesimulator</string>
		<key>Name</key>
		<string>Simulator</string>
		<key>NewFile</key>
		<string>/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.googlecode.iterm2</string>
		<key>Name</key>
		<string>iTerm</string>
		<key>NewFile</key>
		<string>/Applications/iTerm.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Console</string>
		<key>Name</key>
		<string>Console</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Console.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.pqrs.Karabiner-EventViewer</string>
		<key>Name</key>
		<string>Karabiner-EventViewer</string>
		<key>NewFile</key>
		<string>/Applications/Karabiner-EventViewer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.torusknot.SourceTreeNotMAS</string>
		<key>Name</key>
		<string>Sourcetree</string>
		<key>NewFile</key>
		<string>/Applications/Sourcetree.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.xk72.Charles</string>
		<key>Name</key>
		<string>Charles</string>
		<key>NewFile</key>
		<string>/Applications/Charles.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Music</string>
		<key>Name</key>
		<string>Music</string>
		<key>NewFile</key>
		<string>/System/Applications/Music.app</string>
	</dict>
</array>
</plist>
